[Desktop Entry]
Name=RustDeskTiny
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=rustdesktiny
Exec=rustdesktiny %u
Icon=rustdesktiny
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
